<div class="main-content">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Registrar nuevo cliente</h4>
                </div>
                <div class="content">
                    <form [formGroup]="formGroup" (ngSubmit)="save()">
                        <div class="form-group">
                            <label for="">Nombre del cliente</label>
                            <input required  type="text" class="form-control" formControlName="name"  name="name">
                        </div>
                        <div class="form-group">
                            <label for="">email del cliente</label>
                            <input required  type="text" class="form-control" formControlName="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="">Telefono del cliente</label>
                            <input required  type="text" class="form-control" formControlName="phone" name="phone">
                        </div>
                        <div class="form-group">
                            <label for="">Dirección del cliente</label>
                            <textarea required  name="address" class="form-control" formControlName="address" id="" cols="30" rows="10"></textarea>
                        </div>
                        <button [disabled]="formGroup.pristine" type="submit" class="btn btn-primary btn-block">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>