<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12" *ngFor="let product of products">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{product.id}}.{{product.attributes.name}}</h4>
                </div>
                <div class="content">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Precios:</strong> 
                            <span class="c-green">
                                [
                                    ${{product.attributes.price1}}, 
                                    ${{product.attributes.price2}}, 
                                    ${{product.attributes.price3}}
                                ]
                            </span>
                        </li>
                        <li class="list-group-item">
                            <strong>Existencia: </strong> <span>{{product.attributes.stock}}</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Categoria: </strong>{{product.relationsships.categoria}}
                        </li>
                        <li class="list-group-item">
                            <strong>Marca: </strong>{{product.relationsships.marca}}
                        </li>
                        <li class="list-group-item">
                            <strong>Ruta: </strong>{{product.relationsships.ruta}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
