<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-xs-12 col-lg-3 col-sm-12" routerLink="/productos">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Mis productos</h4>
                        <div class="category">Productos sincronizados</div>
                    </div>
                    <div class="content">
                        <img class="w-100" src="https://image.flaticon.com/icons/svg/2303/2303701.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-lg-3 col-sm-12" routerLink="/clientes">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Mis clientes</h4>
                        <div class="category">Clientes registrados</div>
                    </div>
                    <div class="content">
                        <img class="w-100" src="https://image.flaticon.com/icons/svg/476/476863.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-lg-3 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Mis ventas</h4>
                        <div class="category">Ventas realizadas</div>
                    </div>
                    <div class="content">
                        <img class="w-100" src="https://image.flaticon.com/icons/svg/2451/2451042.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-lg-3 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Creditos</h4>
                        <div class="category">Creditos levantados</div>
                    </div>
                    <div class="content">
                        <img class="w-100" src="https://image.flaticon.com/icons/svg/2329/2329974.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-lg-3 col-sm-12" routerLink="/sincronizacion">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Sincronización</h4>
                        <div class="category">Sincronizar datos del servidor</div>
                    </div>
                    <div class="content">
                        <img class="w-100" src="https://image.flaticon.com/icons/svg/984/984411.svg" alt="">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
