<div class="main-content" >
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                <div class="card text-center">
                    <div class="header">
                        <h4 class="title">Sincronizar productos</h4>
                    </div>
                    <div class="content">
                        <img style="width: 50% !important; cursor: pointer; height: 50% !important; margin: auto;" src="https://image.flaticon.com/icons/svg/2303/2303701.svg" alt="">
                    </div>
                    <div class="content">
                        <button class="btn btn-success" (click)="syncProducts()">Sincronizar</button>
                    </div>
                </div>
           </div>
       </div>
   </div>
</div>
